@import "./styles/mixin";

.admin_layout {
  @include leftMenu;
  @include pageTitle;
  @include input;
  @include button;
  @include uploadIcon;
  @include checkbox;
  @include spinner;
  @include expandIcon;

  .ant-layout {
    background: #ffffff !important;
  }
  .ant-layout-header {
    background: #ffffff !important;
    border-bottom: 1px solid #b6b5b5;
    box-shadow: 0 5px 10px 0 rgba(201, 238, 235, 0.5);
    .anticon {
      svg {
        vertical-align: initial;
      }
    }
  }
  .ant-layout-sider {
    border-right: 1px solid #52ada3;
    box-shadow: 0 5px 10px 0 rgba(201, 238, 235, 0.5);
    min-height: calc(100vh - 64px);
    background: #ffffff;
  }
  &_fix_header {
    position: fixed;
    z-index: 1;
    width: 100%;
    padding: 0 25px !important;
    &_logo {
      float: left;
      width: 120px;
      font-size: 30px;
    }
    &_menu {
      border-bottom: none !important;
      justify-content: end;
      .ant-menu-submenu {
        padding-right: 0 !important;
        &::after {
          right: 0 !important;
        }
      }
    }
  }
  &_main {
    margin-top: 64px;
  }
  &_content {
    padding: 25px;
    @media only screen and (device-width: 320px) and (device-height: 568px) {
      padding: 15px;
    }
  }
}

.user_layout {
  .ant-layout {
    background: #ffffff !important;
  }
  .ant-layout-header {
    background: #ffffff !important;
    border-bottom: 1px solid #b6b5b5;
  }
  &_fix_header {
    position: fixed;
    z-index: 1;
    width: 100%;
    padding: 0 25px !important;
    &_logo {
      float: left;
      width: 120px;
      font-size: 30px;
    }
  }
  &_main {
    margin-top: 64px;
  }
  &_content {
  }
}
