@import "../../../../styles/mixin";

.editteam {
  &_action {
    text-align: end;
  }
  &_content {
    margin-top: 20px;
  }
  &_savebtn {
    min-width: 200px;
  }
   &_cancelbtn{
    min-width: 200px;
   }
  .ant-image-img {
    width: 100px;
  }
  .ant-image-mask-info {
    display: none;
  }
}
