//Title
$pageTitleColor: #159e9d;

//Button
$buttonBorderColor: #14887c;
$buttonBGColor: #52ada3;
$buttonHoverColor: #c9eeeb;

//Input
$inputBorderColor: #14887c;
$inputFocusShadow: rgba(201, 238 ,235, 0.5);
$inputErrorPrefixIcon: #ff4d4f;

//Upload Icon
$uploadBorderColor: #14887c;
$uploadIconColor: #52ada3;
