//Title
$pageTitleColor: #159e9d;

//Button
$buttonBorderColor: #14887c;
$buttonBGColor: #52ada3;
$buttonHoverColor: #c9eeeb;
$defaultButtonHoverColor: #ffffff;

//Input
$inputBorderColor: #14887c;
$inputFocusShadow: rgba(201, 238 ,235, 0.5);
$inputErrorPrefixIcon: #ff4d4f;

//Upload Icon
$uploadBorderColor: #14887c;
$uploadIconColor: #52ada3;

//Left Menu
$leftMenuTextColor: #52ada3;
$leftMenuHoverBGColor: #c9eeeb;
$leftMenuHoverTextColor: #14887c;

//Checkbox
$checkboxBorderColor: #52ada3;

//Spinner
$spinnerBGColor: #14887c;

//Expand Icon
$expandIconColor: #52ada3;
$expandIconBorderColor: #52ada3;
$expandIconHoverColor: #c9eeeb;

