@import "./color";

@mixin pageTitle {
    h3.ant-typography {
        color: $pageTitleColor;
    }
    h4.ant-typography {
        color: $pageTitleColor;
    }
}

@mixin button {
    .ant-btn {
        border-color: $buttonBorderColor;
        background-color: $buttonBGColor;
        &:hover {
            background-color: $buttonHoverColor;
            border-color: $buttonBorderColor;
            color: $buttonBorderColor;
        }
    }
}

@mixin input {
    .ant-input {
        &:hover {
            border-color: $inputBorderColor;
        }
        &:focus {
            border-color: $inputBorderColor;
            box-shadow: 0 0 0 2px $inputFocusShadow;
        }
    }
    .ant-input-affix-wrapper {
        &:not(.ant-input-affix-wrapper-disabled) {
            &:hover {
                border-color: $inputBorderColor;
            }
        }
        &:focus {
            border-color: $inputBorderColor;
            box-shadow: 0 0 0 2px $inputFocusShadow;
        }
        .ant-input-prefix {
            .anticon {
                color: $inputBorderColor;
            }
        }
    }
    .ant-input-affix-wrapper-focused {
        border-color: $inputBorderColor;
        box-shadow: 0 0 0 2px $inputFocusShadow;
    }
    .ant-form-item-has-error {
        .ant-input-prefix {
            .anticon {
                color: $inputErrorPrefixIcon;
            }
        }
    }
}

@mixin uploadIcon {
    .ant-upload.ant-upload-drag {
        &:not(.ant-upload-disabled) {
            &:hover {
                border-color: $uploadBorderColor;
            }
        }
        p.ant-upload-text {
            font-size: 14px;
        }
        p.ant-upload-drag-icon {
            .anticon {
                color: $uploadIconColor;
            }
        }
    }
}

@mixin leftMenu {
    .ant-menu-inline.ant-menu-root {
        .ant-menu-item {
            > .ant-menu-title-content {
                color: $leftMenuTextColor;
            }
        }
    }
    .ant-menu {
        &:not(.ant-menu-horizontal) {
            .ant-menu-item-selected {
                background-color: $leftMenuHoverBGColor;
                .anticon {
                    color: $leftMenuTextColor;
                }
                .ant-menu-title-content {
                    color: $leftMenuTextColor;
                }
            }
        }
    }
    .ant-menu-inline {
        .ant-menu-item {
            &::after {
                border-right: 3px solid $leftMenuTextColor;
            }
        }
    }
    .ant-menu-light {
        .ant-menu-item {
            &:hover {
                color: $leftMenuHoverTextColor;
            }
            .anticon {
                color: $leftMenuTextColor;
            }
        }
    }

    .ant-layout-sider-trigger {
        border-right: 1px solid #b6b5b5;
        color: $leftMenuTextColor;
        background-color: $leftMenuHoverBGColor;
    }
}
